$text-color: rgb(240,240,240);
$text-color-hover: adjust-color($text-color, $red: -206, $green: -174, $blue: -116);
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "node_modules/@fancyapps/fancybox/dist/jquery.fancybox";


#products{
    .card{
        background-color: transparentize($text-color-hover, 0.2);
        color: white;
    }
    .card-footer{
        color:white;
    }

    .owl-item {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .owl-item image {
        width: 100%;
    }
}

.table{
    .thead-light{
        th{
            color:white;
            background-color: transparent;
            text-align: center;
        }
    }
}

.btn-social-icon{
    transition: all 0.5s ease;
    color: $text-color;
    background-color: none;
}

.btn-social-icon:hover{
    color: $text-color-hover;
    background-color: $text-color;
}

body{
    font-size: 1.2rem;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding-right: 0rem;
    padding-left: 1rem;
}

.ui.secondary.pointing.menu .active.item , .ui.secondary.pointing.menu .item{
    border-color: #edf6ff;
    color: rgba(251, 251, 251, 0.95)    
}

.ui.secondary.pointing.menu .active.item:hover, .ui.secondary.pointing.menu a.item:hover{
    border-color: #edf6ff;
    color: rgba(251, 251, 251, 0.55)    
}
